.wrap {
  display: flex;
  justify-content: center;
  position: relative;
}
.outline {
  border: 1px solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour {
  height: 100px;
  width: 1px;
  background: rgb(105, 246, 105);
}
.minute {
  height: 145px;
  width: 1px;
  background: blue;
}
.second {
  height: 145px;
  width: 1px;
  background: rgb(197, 132, 146);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}
